In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(3,3))

In [3]:
df

          0         1         2
0  0.476913  0.767954  0.494712
1  0.227106  0.734212  0.969312
2  0.062609  0.925654  0.697629

In [4]:
def add1(x):
    return x + 1

In [5]:
add1(3)

4

In [6]:
df.applymap(add1)

          0         1         2
0  1.476913  1.767954  1.494712
1  1.227106  1.734212  1.969312
2  1.062609  1.925654  1.697629

In [7]:
df.applymap(lambda x: x+1)

          0         1         2
0  1.476913  1.767954  1.494712
1  1.227106  1.734212  1.969312
2  1.062609  1.925654  1.697629

In [8]:
df2 = pd.DataFrame({'A':['1.1B','3.3B','1.1B'],
                    'B':['3.3B','6.1B','1.1B'],
                    'C':['1.1B','1.2B','2.1B']}, 
                   index = [1,2,3])

In [9]:
df2

      A     B     C
1  1.1B  3.3B  1.1B
2  3.3B  6.1B  1.2B
3  1.1B  1.1B  2.1B

In [11]:
df2.applymap(lambda x:x[:-1])

     A    B    C
1  1.1  3.3  1.1
2  3.3  6.1  1.2
3  1.1  1.1  2.1

using map on series

In [12]:
ser = pd.Series([100,200,300,400,500,600,700,800,900,np.nan])

In [13]:
ser

0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
5    600.0
6    700.0
7    800.0
8    900.0
9      NaN
dtype: float64

In [14]:
ser.map(add1)

0    101.0
1    201.0
2    301.0
3    401.0
4    501.0
5    601.0
6    701.0
7    801.0
8    901.0
9      NaN
dtype: float64

In [15]:
ser.map(add1, na_action=None)

0    101.0
1    201.0
2    301.0
3    401.0
4    501.0
5    601.0
6    701.0
7    801.0
8    901.0
9      NaN
dtype: float64

In [16]:
ser.map(lambda x: 'this is {}'.format(x))

0    this is 100.0
1    this is 200.0
2    this is 300.0
3    this is 400.0
4    this is 500.0
5    this is 600.0
6    this is 700.0
7    this is 800.0
8    this is 900.0
9      this is nan
dtype: object

In [17]:
ser.map(lambda x: 'this is {}'.format(x), na_action='ignore')

0    this is 100.0
1    this is 200.0
2    this is 300.0
3    this is 400.0
4    this is 500.0
5    this is 600.0
6    this is 700.0
7    this is 800.0
8    this is 900.0
9              NaN
dtype: object