In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [4]:
pd.DataFrame({'color':['red','blue','red'], 'id':[100,101,102]})

  color   id
0   red  100
1  blue  101
2   red  102

In [6]:
df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index=['a','b','c'])

In [7]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [11]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']])

     0     1
0  100   red
1  101  blue
2  102   red

In [12]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [14]:
arr = np.random.rand(4,2)
arr

array([[0.80071514, 0.81053133],
       [0.65203837, 0.74838541],
       [0.80903285, 0.18048819],
       [0.73290893, 0.36335476]])

In [17]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.800715  0.810531
1  0.652038  0.748385
2  0.809033  0.180488
3  0.732909  0.363355

In [18]:
pd.DataFrame({'student':np.arange(100, 110, 1)})

   student
0      100
1      101
2      102
3      103
4      104
5      105
6      106
7      107
8      108
9      109

In [22]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60,101,10)})

   student  test
0      100    70
1      101    67
2      102    60
3      103    91
4      104    86
5      105    75
6      106    64
7      107    63
8      108    88
9      109    65

In [23]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        63
101        70
102        88
103        84
104        80
105        64
106        94
107        68
108        79
109        77

In [24]:
#attaching Series to existing df

In [25]:
s = pd.Series(['round','square'],index=['c','b'],name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [26]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [28]:
pd.concat([df,s], axis=1, sort=False)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round