In [4]:
from fuzzywuzzy import process
import pandas as pd

In [50]:
df = pd.read_csv('restaurants_L2_dirty.csv', index_col=0)

In [51]:
df.head()

      name                      addr         city       phone          type
0   kokomo         6333 w. third st.           la  2139330773      american
1   feenix   8358 sunset blvd. west     hollywood  2138486677      american
2  parkway      510 s. arroyo pkwy .     pasadena  8187951001   californian
3     r-23          923 e. third st.  los angeles  2136877178      japanese
4    gumbo         6333 w. third st.           la  2139330358  cajun/creole

In [54]:
unique_types_before = df.type.unique()
len(unique_types_before)

33

In [43]:
print(process.extract('asian', unique_types, limit = len(unique_types)))

[('asian', 100), ('indonesian', 72), ('italian', 67), ('russian', 67), ('american', 62), ('californian', 54), ('japanese', 54), ('mexican/tex-mex', 54), ('american ( new )', 54), ('mexican', 50), ('pizza', 40), ('cajun/creole', 36), ('diners', 36), ('middle eastern', 36), ('vietnamese', 36), ('pacific new wave', 36), ('fast food', 36), ('continental', 36), ('seafood', 33), ('chicken', 33), ('chinese', 33), ('hamburgers', 27), ('steakhouses', 25), ('southern/soul', 22), ('delis', 20), ('hot dogs', 18), ('coffee shops', 18), ('noodle shops', 18), ('health food', 18), ('eclectic', 18), ('coffeebar', 18), ('french ( new )', 18), ('desserts', 18)]

In [44]:
print(process.extract('american', unique_types, limit = len(unique_types)))

[('american', 100), ('american ( new )', 90), ('mexican', 80), ('mexican/tex-mex', 68), ('asian', 62), ('californian', 53), ('italian', 53), ('russian', 53), ('middle eastern', 45), ('pacific new wave', 45), ('hamburgers', 44), ('indonesian', 44), ('chicken', 40), ('japanese', 38), ('eclectic', 38), ('delis', 36), ('pizza', 36), ('southern/soul', 34), ('french ( new )', 34), ('vietnamese', 33), ('cajun/creole', 30), ('diners', 29), ('seafood', 27), ('chinese', 27), ('desserts', 25), ('coffeebar', 24), ('steakhouses', 21), ('health food', 21), ('continental', 21), ('fast food', 12), ('coffee shops', 11), ('noodle shops', 11), ('hot dogs', 0)]

In [45]:
categories = pd.DataFrame({'cuisine_type': ['asian', 'american', 'italian']})
categories

  cuisine_type
0        asian
1     american
2      italian

In [55]:
for cuisine in categories['cuisine_type']:
  # Find matches in cuisine_type of restaurants
  matches = process.extract(cuisine, df['type'], 
                            limit = df.shape[0])
  
  # For each possible_match with similarity score >= 80
  for possible_match in matches:
    if possible_match[1] >= 80:
      # Find matching cuisine type
      matching_cuisine = df['type'] == possible_match[0]
      df.loc[matching_cuisine, 'type'] = cuisine

# Print unique values to confirm mapping
unique_types_after = df.type.unique()
len(unique_types_after)

31

In [57]:
[x for x in unique_types_before if x not in unique_types_after]

['mexican', 'american ( new )']