In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports', sep=',')

In [3]:
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [5]:
ufo['City'].head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [7]:
type(ufo['City'])

pandas.core.series.Series

In [9]:
ufo.City.head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [12]:
ufo['Colors Reported'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Colors Reported, dtype: object

In [ ]:
# '.' notation is fast but not always work, like shape, head and other build-in methods
# when creating new column, have to usebracket notation

In [15]:
'ab' + 'cd'

'abcd'

In [19]:
ufo['Location'] = ufo.City + ',' + ufo.State

In [21]:
ufo.Location.head()

0                  Ithaca,NY
1             Willingboro,NJ
2                 Holyoke,CO
3                 Abilene,KS
4    New York Worlds Fair,NY
Name: Location, dtype: object